*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;

  @include respond(phone) {
    font-size: 48%;
  }
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1;
}
