$color-btn: #454;
$bgcolor-category-all-btn: rgb(239, 215, 170);
$bgcolor-category-menclothing-btn: rgb(250, 242, 242);
$bgcolor-category-womencolthing-btn: rgb(245, 185, 238);
$bgcolor-categoryelectronics-btn: rgb(173, 225, 248);
$bgcolor-categoryjewelery-btn: rgb(238, 238, 159);

$product-card-height: 38rem;
$product-img-height: 27rem;
$product-card-info-height: 11rem;

$product-title-color: #6767ec;
$product-price-color: #ff7a06;
