.category {
  &__all {
    background-color: $bgcolor-category-all-btn;

    &:hover {
      @include hoverEffect($bgcolor-category-all-btn);
    }
  }
  &__menclothing {
    background-color: $bgcolor-category-menclothing-btn;
    &:hover {
      @include hoverEffect($bgcolor-category-menclothing-btn);
    }
  }
  &__womenclothing {
    background-color: $bgcolor-category-womencolthing-btn;

    &:hover {
      @include hoverEffect($bgcolor-category-womencolthing-btn);
    }
  }

  &__electronics {
    background-color: $bgcolor-category-electronics-btn;

    &:hover {
      @include hoverEffect($bgcolor-category-electronics-btn);
    }
  }
  &__jewelery {
    background-color: $bgcolor-category-jewelery-btn;

    &:hover {
      @include hoverEffect($bgcolor-category-jewelery-btn);
    }
  }
  &__btn {
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
    border: none;
    color: $color-btn;
    font-weight: 600;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }
}

.cart {
  width: 3.6rem;
  height: 3.6rem;
  position: relative;

  &__details {
    position: absolute;
    top: 3.5rem;
    left: 0;
    font-size: 1.6rem;
    background-color: rgb(247, 248, 247);
    z-index: 100;
    padding: 0.6rem;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;

    & > * {
      font-weight: 600;
      padding: 1rem;
    }
  }

  &:hover &__details,
  &:active &__details {
    display: flex;
  }
  .clear-cart {
    background-color: #fd7f58;
    color: #f5f5f5;
    transition: all 0.6s;

    &:hover,
    &:active {
      @include hoverEffect(#ed7c7c);
      transform: translateY(-1px);
    }
  }

  img {
    width: 3.6rem;
  }

  &__products {
    position: absolute;
    padding: 2px 5px;
    color: white;
    background-color: rgb(98, 74, 233);
    top: -0.6rem;
    right: -1.1rem;
    font-size: 1.8rem;
  }
}

.sort-label {
  font-size: 1.6rem;
  font-weight: 600;

  + .sort-by {
    width: 20rem;
    background-color: transparent;
    padding: 0.8rem 0.6rem;
    font-size: 1.6rem;
    &:focus {
      outline: none;
    }
  }
}
